<h2 class="ui center aligned icon header">
  <!-- <i class="circular home icon"></i> -->
  需要幫助嗎？ <%= link_to '聯絡 Zuker', ENV["zuker_community_shorturl"], target: "_blank" %>
</h2>
<%= render 'form' %>