<div class="ui icon info message">
  <i class="info icon"></i>
  <div class="header">
    您有一筆刊登快完成了<br>
    <%= link_to("前往完成", edit_post_path(current_user.posts.draft.try(:first))) %>
  </div>
</div>