<div class="ui icon info message">
  <i class="info icon"></i>
  <div class="header">
    您快完成刊登了！
    <div class="content">
      <% if current_user.has_draft? %>
        <%= link_to("繼續上次的刊登", edit_post_path(current_user.posts.hidden.try(:first))) %>
        |
      <% end %>
      <%= link_to("新的一筆刊登", new_post_path) %>
    </div>
  </div>
</div>