body.snow {
  background-color: whitesmoke !important;
}

.main.container {
  // 這三行主要是為了清除 body 底下的多餘空白
  top: 5em;
  position: relative;
  margin-top: 0px !important;

  max-width: 723px !important;
}

#action_wrapper {
  max-width: 480px;
  margin-right: auto !important;
  margin-left: auto !important;
}

#post_search {
  i.icon.search {
    cursor: pointer;
  }
}

#new_post_button {
  width: 100%;
}

.ui.card.post {
  border: none;
  box-shadow: none;
  width: 100%;
  max-width: 600px;
  margin: 0 auto;
  .content {
    padding: 20px 25px;
    & > .description {
      color: rgba(0,0,0,0.8);
    }
  }
}

.no_horizontal_paddings {
  padding-left: 0px !important;
  padding-right: 0px !important;
}

.price-tag {
  font-size: 20px;
  padding: 15px;
  background-color: rgba(50,50,50,0.5);
  color: white;
}

.img-price-container {
  position: relative;
  .price-tag {
    position: absolute;
    top: 70%;
  }
}

.ios_dropdown_with_icon {
  position: relative;
  .ui.dropdown {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    padding-left: 14px;
  }
  .dropdown.icon {
    position: absolute;
    top: 26%;
    right: 5%;
  }
}

input[type="search"] {
  // for Safari, Firefox input rounding
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
}

#new_post.ui.form {
  width: 400px;
  margin: auto;
}

.centered #new_post.ui.form label {
  text-align: left;
}

.owl-carousel .item img{
  display: block;
  width: 100%;
  height: auto;
}

.center {
  margin-right: auto !important;
  margin-left: auto !important;
  text-align: center !important;
}

.ui.button.submit-buttom {
  margin-bottom: 10px;
  margin-top: 10px;
}

.hidden {
  display: none !important;
}

#upload_zone {
  cursor: pointer;
  max-width: 300px;
  margin: auto;
}

#photoPreviewBlock {
  margin: 1rem 0px;
}

#images, #photoPreviewBlock {
  img {
    padding: 0px;
    border: 1px solid #ccc;
    max-height: 150px;
    max-width: 100%;
  }
  div.desc {
    padding: 0px;
    text-align: center;
    textarea {
      width: 100%;
    }
  }
}

@media (min-width:768px) {
  .ui.card.post .content { 
    padding: 20px 30px;
    .description p {
      line-height: 22px;
    }
  }
  .price-tag {
    font-size: 22px;
    padding: 20px;
  }
}

@media (max-width:767px) {
  .ui.card.post {
    max-width: 480px;
  }
}

@media (max-width:480px) {
  .ui.card.post .header.address {
    min-height: 46px;
  }
}